<div class="container mt-5">
    <div class="row">
        <div class="mx-auto">
            <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>

                <p>In <i class="fas fa-book"></i>Bookers,</br>
                you can share and exchange your opinions , inpressions , and emotions</br>
                about various books!</p>
    
                <div>
                    <%= link_to new_user_session_path, class: "btn btn-primary form-control" do %>
                    Log in
                    <% end %>
                </div>
    
                <div>
                    <%= link_to new_user_registration_path, class: "btn btn-success form-control" do %>
                    Sign up
                    <% end %>
                </div>
        </div>
    </div>
</div>
